$maxContentHeight: 430px;

.job-description-body {
    max-height: $maxContentHeight;
    overflow-y: hidden;
    position: relative;
}

.job-description-body-container {
    position: relative;
}

.job-description-body-container::after {
    content: "";
    background-image: linear-gradient(180deg, transparent 60%, #fff);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 120px 0;
}

.read-more-container {
    margin-top: 10px;
    text-align: center;
}

.read-more-link {
    font-weight: 500;
    color: var(--color-blue);
    letter-spacing: .04em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.read-more-link::after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--color-blue);
    transition: width .2s ease;
}

.read-more-link:hover::after {
    width: 100%;
}


.job-description {
    margin: 0;
}

.job-description-body p {
    margin: 0;
}

.job-description-body p:first-child>strong {
    margin-top: 0
}

.job-description-body p>strong {
    color: #212121;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0;
    display: inline-block;
}

.job-description-body ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: disc none outside;
    padding: 0;
}

.job-description-body ul>li {
    margin-left: 32px;
    display: list-item;
    text-align: -webkit-match-parent;
}