$maxContentHeight: 430px;

.job-description-body {
    max-height: $maxContentHeight;
    overflow-y: hidden;
    position: relative;
}

.job-description-body-container {
    position: relative;
}

.job-description-body-container::after {
    content: "";
    background-image: linear-gradient(180deg, transparent 60%, #fff);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 120px 0;
}

.read-more-container {
    margin-top: 10px;
    text-align: center;
}

.read-more-link {
    font-weight: 500;
    color: var(--color-blue);
    letter-spacing: .04em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.read-more-link::after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--color-blue);
    transition: width .2s ease;
}

.read-more-link:hover::after {
    width: 100%;
}


.job-description {
    margin: 0;
}

.job-description-container p {
    margin: 0;
}

.job-description-container p:first-child>strong {
    margin-top: 0
}

.job-description-container p>strong {
    color: #212121;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0;
    display: inline-block
}

.job-description-container ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: disc none outside;
    padding: 0;
}

.job-description-container ul>li {
    margin-left: 32px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.job-description-container a {
    position: relative;
    display: inline-block;
    color: var(--color-link);
    transition: all .2s ease;
    text-decoration: none;
    cursor: pointer;
}

.loading-description-outer {
    background-color: var(--color-white);
    padding-bottom: 0;
    padding-top: 10rem;
    position: relative;

}

@media(min-width: 769px) {
    .loading-description-outer {
        padding-top: 12rem;
        padding: 5.6rem 0;
    }
}

@media(min-width: 1025px) {
    .loading-description-outer {
        padding-top: 16rem;
        padding: 8rem 0;
    }
}

.loading-container {
    position: relative;
    width: 100%;
    max-width: calc(var(--container-width) + var(--gutter)*2);
    padding: 0 var(--gutter);
    margin: 0 auto;
    box-sizing: border-box;
}

@keyframes Loader_spin___Oz6S {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@-webkit-keyframes Loader_spin___Oz6S {
    to {
        -webkit-transform: rotate(1turn)
    }
}

.loader {
    box-sizing: border-box;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 5px solid var(--color-blue);
    border-top: 5px solid #fff;
    animation: Loader_spin___Oz6S 1s ease-in-out infinite;
    -webkit-animation: Loader_spin___Oz6S 1s ease-in-out infinite;
}