.mobile-footer-container {
    padding: 24px;
    margin-top: 32px;
    background-color: rgba(46, 110, 223, .078);
    border-radius: 4px;
}

.blue-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-blue);
    margin-bottom: 10px;
}

.foot-detail {
    font-size: 1.4rem;
    color: #444;
    margin-bottom: 24px;
}