$button-color: #fff;
$button-bg-color: #2e6edf;
$button-bg-color-hover: #2961c4;

.apply-button {
    color: $button-color;
    background-color: $button-bg-color;
    font-size: 16px;
    border: 1px solid $button-bg-color;
    border-radius: 4px;
    letter-spacing: 0.04em;
    padding: 1em 1.5em;
    font-weight: 500;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

@media(max-width: 374px) {
    .apply-button {
        font-size: 14px;
    }
}

.apply-button:hover {
    background-color: $button-bg-color-hover;
}

.apply-button-transition {
    transition: all .2s ease-in-out;
    position: relative;
}

.apply-button-transition:hover {
    padding-right: calc(var(--btn-y)*1.5)
}

.apply-button-transition::before {
    opacity: 0;
    position: absolute;
    top: 52%;
    right: 1em;
    content: "";
    font-family: icomoon !important;
    font-size: .8em;
    line-height: 1;
    margin-top: -.5em;
}

.apply-button-transition:hover::before {
    opacity: 1;
    transition: opacity .2s linear .1s !important;
}