$container-width: 1208px;

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
}

.home-container {
    max-width: calc($container-width + var(--gutter) * 2);
    padding: 0 var(--gutter);
    box-sizing: border-box;
}