<div *ngIf="job">
    <div class="job-title">{{ job.publicTitle }}</div>
    <div class="company-summary-apply-button-container">
        <div class="company-summary">
            <app-icon-label [text]="'Industry: ' + getJobIndustry()" classIcon="icon-business"></app-icon-label>
            <app-icon-label text="Remote" classIcon="icon-place"></app-icon-label>
            <app-icon-label [text]="'Company size: ' + getCompanySize()" classIcon="icon-group"></app-icon-label>
            <app-icon-label text="Full-time" classIcon="icon-calendar"></app-icon-label>
            <div class="salary-info">
                <img class="icon-salary" src="/assets/money.svg" />
                <span>Not disclosed</span>
            </div>
        </div>
        <div class="apply-button-container">
            <app-apply-button></app-apply-button>
        </div>
    </div>
    <div *ngIf="tags.length !== 0" class="tag-container">
        <app-tag *ngFor="let tag of tags" [text]="tag"></app-tag>
    </div>
    <div class="time-posted" *ngIf="getPublishedDateString() !== ''">{{ 'Posted ' + getPublishedDateString()}}</div>
</div>