.label-text {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.icon {
    margin-right: 8px;
    font-size: 1.8rem;
}

[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-calendar:before {
    content: "";
    color: #666
}

.icon-group:before {
    content: "";
    color: #666
}

.icon-place:before {
    content: "";
    color: #666
}

.icon-business:before {
    content: "";
    color: #666
}

.icon-brief:before {
    content: ""
}

.icon-right-arrow:before {
    content: ""
}

.icon-chevron-right:before {
    content: ""
}