.job-item-container {
    padding: 24px 16px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .job-item-container {
        padding: 24px;
    }
}

.job-item-container:hover:not(.job-item-container-selected) {
    background-color: #f3f3f3;
}

@media(min-width: 1024px) {
    .job-item-container-selected {
        background-color: #f6f9fe;
    }
}

@media(min-width: 1024px) {
    .job-item-container-selected::before {
        content: "";
        position: absolute;
        background-color: #2e6edf;
        width: 6px;
        left: 0;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
    }
}

.job-item-tag {
    margin-top: 12px;
    margin-right: -8px;
}

.tag-item-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.job-item-role {
    font-size: 1.6rem;
    font-weight: 500;
}

.job-item-company-summary {
    margin-right: -8px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: 3fr 2fr 80px;
    grid-gap: 6px;
    gap: 6px;
    color: #666;
    font-size: inherit;
    text-align: left;
    box-sizing: border-box;
    align-items: center;
}

.job-item-company-summary-days {
    font-size: 12px;
    text-align: right;
    line-height: 18px;
}