<!-- <a class="anchor-job-item" [href]="'https://www.turing.com/remote-developer-jobs/j/' + getJobUrl()"></a> -->
<div *ngIf="job" [class]="getContainerClassName()" (click)="select.emit()" aria-label="job-item-container">
    <div class="job-item-role">{{ job.publicTitle }}</div>
    <div class="job-item-company-summary">
        <app-icon-label class="app-icon-label" [text]="getJobIndustry()" classIcon="icon-business"></app-icon-label>
        <app-icon-label class="app-icon-label" [text]="getCompanySize()" classIcon="icon-group">
        </app-icon-label>
        <div class="job-item-company-summary-days">{{ getPublishedDateString() }}</div>
    </div>
    <div class="job-item-tag">
        <div class="tag-item-container">
            <app-tag *ngFor="let tag of tags" [text]="tag"></app-tag>
        </div>
    </div>
</div>