:root {
    --btn-y: 1.5em;
    --color-blue: #2e6edf;
    --color-text: #212121;
    --color-white: #fff;
    --container-width: 1208px;
    --gutter: 32px;
    --color-link: #2e6edf;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

@media only screen and (max-width: 767px) {
    :root {
        --gutter: 16px
    }
}

@media(max-height: 414px)and (min-width:812px)and (orientation:landscape) {
    :root {
        --gutter: 50px
    }
}

@font-face {
    font-family: Gordita;
    src: url(/assets/fonts/GorditaRegular.woff2) format("woff2"), url(/assets/fonts/GorditaRegular.woff) format("woff"), url(/assets/fonts/GorditaRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gordita;
    src: url(/assets/fonts/GorditaMedium.woff2) format("woff2"), url(/assets/fonts/GorditaMedium.woff) format("woff"), url(/assets/fonts/GorditaMedium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gordita;
    src: url(/assets/fonts/GorditaRegular-Italic.woff2) format("woff2"), url(/assets/fonts/GorditaRegular-Italic.woff) format("woff"), url(/assets/fonts/GorditaRegular-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: icomoon;
    src: url(/assets/fonts/icomoon.woff?ek8ii5) format("woff"), url(/assets/fonts/icomoon.ttf?ek8ii5) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

html {
    font-family: Gordita;
    font-size: 10px;
    background-color: rgb(250, 250, 250);
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: var(--color-text, #000);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 87%, .75);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #aaa;
}

a {
    text-decoration: none;
}