.job-item {
    position: relative;
    font-size: 1.2rem;
}

.job-item-container {
    border-bottom: 1px solid #f3f3f3;
}

.job-list-container {
    max-height: 1340px;
    overflow-y: scroll;
}

@media(max-width: 1024px) {
    .job-list-container {
        overflow: initial;
        max-height: none;
    }
}

.job-list-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .5);
}

.svg-loading:not(:last-child) {
    margin-bottom: 6px;
    height: 148px;
}

.svg-loading:last-child {
    height: 146px;
}

@media(max-width: 1024px) {
    .svg-loading {
        display: none;
    }
}

.job-item-outer {
    display: flex;
    flex-direction: column;
}