.job-item {
    position: relative;
    font-size: 1.2rem;
}

.job-item-container {
    border-bottom: 1px solid #f3f3f3;
}

.job-list-container {
    max-height: 1340px;
    overflow-y: scroll;
}

.job-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.svg-loading {
    width: 100%;
    height: 148;
    overflow: hidden;
}