.chip-item {
    padding: 7px 12px;
    border-radius: 50px;
    background-color: rgba(68, 68, 68, .059);
    color: rgb(68, 68, 68);
    font-family: inherit;
    font-weight: 400;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}